db_dsn=dbi:mysql:database=colobus3;host=localhost
db_user=root
db_pass=

memcached_servers=127.0.0.1:11211

# set deployment_mode=devel to disable caching
deployment_mode=test

# Groups in this section will be listed in the "Archived groups" section.
archived_groups=perl.test