
  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.cnntp.servername %]
    [% expandServerAliases( config.site.cnntp.aliases ) %]
    PerlSetVar site [% site %]

    #PerlTransHandler Combust::Redirect->super

    PerlModule CN

    RewriteEngine on
    #RewriteLog /tmp/rwl.log
    #RewriteLogLevel 3
    RewriteRule   ^/rss/(.*).rdf /group/$1/rss/posts.xml [PT]

    <Location />
       SetHandler perl-script
       PerlHandler CN::Control::Basic->super
    </Location>

    <Location /group>
       SetHandler perl-script
       PerlHandler CN::Control::Group->super
    </Location>

    #<Location /logout>
    #   SetHandler perl-script
    #   PerlHandler CN::Control::Logout->super
    #</Location>

   <Location /error>
      SetHandler perl-script
      PerlHandler CN::Control::Error->super
   </Location>

  </VirtualHost>
