
  <VirtualHost *:[% config.port %]>
    ServerName [% config.site.cnntp.servername %]
    [% expandServerAliases( config.site.cnntp.aliases ) %]
    PerlSetVar site [% site %]

    #PerlTransHandler Combust::Redirect->super

    PerlModule CN

    <Location />
       SetHandler perl-script
       PerlHandler CN::Control::Basic->super
    </Location>

    <Location /group>
       SetHandler perl-script
       PerlHandler CN::Control::Group->super
    </Location>

    <Location /_health>
       SetHandler perl-script
       PerlHandler CN::Control::Health->super
    </Location>

  </VirtualHost>
