
 body { 
   color: black;
   font-size: 0.9em;
   font-family: Verdana, Helvetica, Arial, Univers, sans-serif;
 }

 span.comments   { font-size: 80% }
 span.scomments   { font-size: 50% }
 .list         { font-size: 80% }
 h1             { font-size: 155%; font-weight: bold; }
 h2             {  font-size: 125%; font-weight: bold;}
 h3             { font-weight: bold; }
 /* table { color: red; } */

 .tt        { color: black; font-family: Courier, monospace } 

 div.h_name { width: 220px;
               display: inline;
            } 

 table.article_list tr td { padding: 3px; }
 tr.li_1 { background: #e5e5e5 }
 tr.li_2 { background: #fff }

 .dimmed { color: #aaa }