
 /* because netscape 4 doesn't inherit from the body class we need to specify everything?!, gaah ... */
 body, table, td, p, span, h1, h2, h3, ul    { 
   color: black; font-size: 13px; font-family: Verdana, Helvetica, Arial, Univers, sans-serif
 }

 span.comments   { font-size: 80% }
 span.scomments   { font-size: 50% }
 .list         { font-size: 80% }
 h1             { font-size: 155%; font-weight: bold; }
 h2             {  font-size: 125%; font-weight: bold;}
 h3             { font-weight: bold; }
 /* table { color: red; } */

/* a:link   { color: #690020 }
 a:active { color: #003600 }
 a:hover  { color: #696040 }
 a:vlink  { color: #900000 } */
 .tt        { color: black; font-family: Courier } 

  /* this ought to remove the link color */
 .invisible { color: #ffffff; font-size: 10% }

